server:
  port: 8888
spring:
  cloud:
    gateway:
      routes:
        - id: pms-route
          uri: lb://pms-service
          predicates:
            - Path=/pms/**
        - id: sms-route
          uri: lb://sms-service
          predicates:
            - Path=/sms/**
        - id: ums-route
          uri: lb://ums-service
          predicates:
            - Path=/ums/**
        - id: wms-route
          uri: lb://wms-service
          predicates:
            - Path=/wms/**
        - id: oms-route
          uri: lb://oms-service
          predicates:
            - Path=/oms/**
        - id: search-route # Host可以根据域名判断请求是否进入该路由
          uri: lb://search-service
          predicates:
            - Host=search.gmall.com
        - id: index-route1 # 同步跳转后台服务
          uri: lb://index-service
          predicates:
            - Host=www.gmall.com, gmall.com
          #  - Path=/index/**  如果写在这里，两个断言之间是and关系
        - id: index-route2 # 异步获取数据的路由
          uri: lb://index-service
          predicates:
            - Path=/index/**
        - id: item-route
          uri: lb://item-service
          predicates:
            - Host=item.gmall.com
        - id: auth-route
          uri: lb://auth-service
          predicates:
            - Host=sso.gmall.com
        - id: cart-route
          uri: lb://cart-service
          predicates:
            - Host=cart.gmall.com
#          filters: 即使未登录也可以添加购物车
#            - Auth=/
      x-forwarded:
        host-enabled: true
    nacos:
      discovery:
        server-addr: localhost:8848
jwt: # 请自己完成配置到配置中心
  pubKeyPath: D:\project-1125\rsa\rsa.pub
  cookieName: GMALL-TOKEN
